.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* Adjust this value according to your preference */
}


.heading {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    color: rgb(23, 131, 131);
}

.heading span {
    font-family: "Protest Riot", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: seagreen;
}

.title {
    color: rgb(23, 131, 131);
    font-size: 1rem;
    font-weight: 600
}

.title span {
    font-size: 1.3rem;
    color: seagreen;
    font-weight: 400;
    font-family: "Protest Riot", sans-serif;
}

.characterImg {
    height: 400px;
    width: 400px;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.title {
    overflow: hidden;
    /* Ensures the text is not visible initially */
    border-right: .15em solid #f8f8f8;
    /* Change the color and size of the typing cursor */
    white-space: nowrap;
    /* Prevents the text from wrapping */
    margin: 0 auto;
    /* Adjust margin as needed */
    letter-spacing: .15em;
    /* Adjust spacing between characters */
    animation:
        typing 3.5s steps(40, end) infinite;
    /* Typewriter animation with looping */
}